/* footer design tokens */
:root { /* @boilerplate */
  --footer-max-width: var(--max-width-site); /* @boilerplate */
  --footer-padding: var(--spacing-xl) var(--spacing-m) var(--spacing-m); /* @boilerplate */
  --footer-padding-desktop: var(--spacing-xl) var(--spacing-l) var(--spacing-m); /* @boilerplate */
}
